.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 6px
}

.wrapper {
    width: 400px;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    padding: 15px;
    flex-direction: column;
    background-color: #fff;
    z-index: 99999;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.close {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: aqua;
}

.close:hover {
    opacity: 0.6;
}

.backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1;
}